@use '../01-Base/fonts' as *;
@use '../0-Abstracts/mixins' as *;

.site-header {
    position: relative;
    height: 100vh;
}

.site-branding {
    background: var(--branding-bg);
    text-transform: uppercase;
    font-family: $alt-title-font;
    position: fixed;
    bottom: -0.5rem;
    top:0;
    left: 0;
    transform-origin:top left;
    transform:translateY(0%) rotate(-2deg);
    // width: 102%; // keeps the edges of our skewed div invisible
    // height: 8rem; // width, technically
    z-index: 2;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
   
    .site-title {
        transform-origin: top left;
        transform: translateY(10%) rotate(3deg);
        padding: 2rem 3rem 0.5rem 0rem;
    }

    a {
        color: var(--logo-color);
        text-decoration: none;
        font-size: 2rem;

        @include hover {
            color: white;
        }
    }
}

