@use '../01-Base/fonts' as *;

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.site-branding {
    text-transform: uppercase;
    font-family: $alt-title-font;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    order: 2;
   
    .site-title {
        transform-origin: top left;
        transform: translateY(325%) rotate(-90deg);
        padding: 0.5rem 1rem 1rem 0;
    }

    a {
        color: var(--logo-color);
        text-decoration: none;
        font-size: 2rem;
    }
}

