:root {
  --body-bg-color: #222222;
  --body-txt: #242424;
  --highlight-color: #67cbfe;
  --branding-bg: #070707;
  --logo-color: #909090;
  --nav-bg: rgba(24, 26, 28, 77%);
  --nav-link-color: #ffffff;
  --nav-link-color--hover: #F1A207;
}

*, *::after, *::before {
  box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main, details, hr,
img {
  display: block;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

hr {
  height: 1px;
  border: 0;
  margin: 2rem 10%;
  padding: 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(46, 70, 68), rgba(0, 0, 0, 0));
}

img {
  max-width: 100%;
  height: auto;
  border-style: none;
  display: block;
  margin-top: 0;
  margin-bottom: 0;
}

.sr-text,
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.sr-text:focus,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  -webkit-clip-path: none;
          clip-path: none;
  color: #21759b;
  display: block;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 0.3125rem;
  line-height: normal;
  padding: 0.5rem;
  text-decoration: none;
  top: 0.3125rem;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

button,
input {
  overflow: visible;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

textarea {
  overflow: auto;
}

embed,
iframe,
object {
  max-width: 100%;
}

h1 {
  font-size: 8rem;
  line-height: 1;
  color: var(--highlight-color);
}

h1, h2, h3, h4, h5 {
  font-family: "Ephesis", cursive;
  font-weight: 400;
  letter-spacing: 1px;
}

h2,
.primary-grid h1 {
  font-size: 3rem;
  color: inherit;
  text-shadow: 0 0 1px black;
  line-height: 1;
}

h3 {
  font-size: 2rem;
  color: var(--h3-color);
  font-weight: 400;
}

p, h2 {
  padding: 1.5rem 2.5rem;
}

footer p {
  padding: 0.5rem 0;
}

.study-highlight {
  background: var(--typography__text-highlight);
}

b, strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

html, body {
  height: 100%;
}

body {
  font-size: 16px;
  font-family: "Mukta", sans-serif;
  color: var(--body-txt);
  line-height: 1.8;
  background: var(--body-bg-color);
  position: relative;
}

main {
  position: relative;
  grid-area: body;
}

aside {
  display: none;
}

a {
  transition: all 0.5s;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.site-header {
  position: relative;
  height: 100vh;
}

.site-branding {
  background: var(--branding-bg);
  text-transform: uppercase;
  font-family: "Merriweather", sans-serif;
  position: fixed;
  bottom: -0.5rem;
  top: 0;
  left: 0;
  transform-origin: top left;
  transform: translateY(0%) rotate(-2deg);
  z-index: 2;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.site-branding .site-title {
  transform-origin: top left;
  transform: translateY(10%) rotate(3deg);
  padding: 2rem 3rem 0.5rem 0rem;
}
.site-branding a {
  color: var(--logo-color);
  text-decoration: none;
  font-size: 2rem;
}
@media (hover: none) {
  .site-branding a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .site-branding a:active, .site-branding a:focus, .site-branding a:focus-within {
    outline: 2px solid var(--focus__outline-color);
  }
}
@media (hover: hover), all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .site-branding a:hover {
    color: white;
  }
}

.site-nav {
  background: var(--nav-bg);
  position: fixed;
  top: -1rem;
  transform-origin: top left;
  transform: translateY(0%) rotate(3deg);
  width: 12rem;
  height: 102vh;
}
@media screen and (min-width: 1024px) {
  .site-nav .menu-toggle {
    display: none;
  }
}
.site-nav .site-nav-translate {
  transform-origin: top left;
  transform: translateY(0%) rotate(-3deg);
  text-align: right;
  padding: 3rem 1rem 0;
  font-family: "Merriweather", sans-serif;
  font-weight: 300;
  width: 100%;
}
.site-nav .site-nav-translate li a {
  padding: 0.35rem 1rem 0.35rem 0;
  -webkit-text-decoration: dotted;
          text-decoration: dotted;
  color: white;
  display: block;
}
@media (hover: none) {
  .site-nav .site-nav-translate li a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .site-nav .site-nav-translate li a:active, .site-nav .site-nav-translate li a:focus, .site-nav .site-nav-translate li a:focus-within {
    outline: 2px solid var(--focus__outline-color);
  }
}
@media (hover: hover), all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .site-nav .site-nav-translate li a:hover {
    color: var(--nav-link-color--hover);
  }
}

.site-footer {
  grid-area: footer;
}

.global_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "header body body" "header footer footer";
  min-height: 100vh;
}

.home-feature-1 {
  background: linear-gradient(132deg, #830101, #580181, #232222);
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
          animation: Gradient 15s ease infinite;
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0px;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/*!
Theme Name: ekj-2022
Theme URI: http://underscores.me/
Author: Underscores.me
Author URI: http://underscores.me/
Description: Description
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: ekj-2022
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

ekj-2022 is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*# sourceMappingURL=style.css.map */