@use '../01-Base/animations';




// the intro on the home page.
// blows my mind that I can use my own codepen, years later, and it still works beautifully with a small footprint.
.home-feed {
  // first we make all instances of this transparent. 
  opacity: 0; 
  // as we're using the same animation for each instance, call it here so we're not repeating it
  animation: fadeInUp 1s ease-in-out 0s forwards;

  // then define the animation delay in each class
  &.first {
    animation-delay: 1s;
  }
  &.second {
    animation-delay: 3s;
  }
  &.third {
    animation-delay: 5s;
  }
  &.fourth {
    animation-delay: 7s;
  }
  &.fifth {
    animation-delay: 9s;
  }
  &.sixth {
    animation-delay: 11s;
  }
 }